<div id="deleteFavModal" class="modal">
    <div class="modal-content">
      <h4>Attention</h4>
      <p>Si vous supprimer cette station de vos favorites, toutes les notifications liées à cette station seront supprimées.</p>
      <p>Etes vous sûr de vouloir continuer?</p>
    </div>
    <div class="modal-footer">
      <button id="cancelDelete" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</button>
      <button id="deleteStationAndNotifications" class="modal-action modal-close waves-effect waves btn red">Supprimer</Button>
    </div>
</div>
