<div id="signin" class="modal grey lighten-3">
    <div class="container">
        <div class="card-panel modal-card">
            <div  style="opacity: 1" class="row">
                <form class="col s12">
                    <div class="black-text" class="modal-content">
                        <h4>Connexion</h4>
                        <div class="row">
                            <div class="input-field s12">
                                <i class="material-icons prefix">account_circle</i>
                                <label for="pseudoIndex">Email</label>
                                <input id="pseudo" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <label for="pswd">Mot de passe</label>
                                <input id="pswd" type="password" class="form-control"/>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="background-color: rgba(255,255,255, 0)">
                        <a href="#!" id="retour2" class="modal-action modal-close waves-effect waves-green btn-flat">Retour</a>
                        <a id = "buttSignin" class="waves-effect waves-light btn">Se connecter</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
