<div id="signup" class="modal grey lighten-3">
    <div class="container">
        <div class="card-panel modal-card">
        <div class="row">
            <form class="col s12">
                <div class="black-text" class="modal-content">
                    <h4>Inscription</h4>
                    <div class="row">
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <label for="name">Nom</label>
                            <input type="text" id="name" class="form-control" />
                        </div>
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <label for="firstName">Prénom</label>
                            <input type="text" id="firstName" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail</i>
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">lock</i>
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" class="form-control" />
                        </div>
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">lock</i>
                            <label for="passwordConfirm">Confirmer mot de passe</label>
                            <input type="password" id="passwordConfirm" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: rgba(255,255,255, 0)">
                    <a id="return" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Retour</a>
                    <a id="butt-signup" class="waves-effect waves-light btn" >S'inscrire</a>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
