<ul id="tabs" class = "tabs">
    <li class="tab col s4"><a id="moreInfoTab" href="#moreInfo">Informations</a></li>
    <li class="tab col s4"><a href="#iti">Itinéraire</a></li>
    <li class="tab col s4 pref_window"><a id="linkPref" href="#pref">Preférences</a></li>
</ul>

<div id="moreInfo">
    <div class ="row mydetail">
        <div class="col s12">
            <h4 id="nameSta"></h4>
        </div>
    </div>

    <div class ="row mydetail">
        <div class="col s8 l4">
            <p>Statut</p>
        </div>
        <div class="col s4 l2">
            <p id="statusSta"></p>
        </div>
    </div>

    <div class ="row mydetail">
        <div class="col s8 l4">
            <p>Places totales</p>
        </div>
        <div class="col s4 l2">
            <p id="bikeStandSta"></p>
        </div>
    </div>

    <div class ="row mydetail">
        <div class="col s8 l4">
            <p>Villo disponibles</p>
        </div>
        <div class="col s4 l2">
            <p id="availableBikesSta"></p>
        </div>
    </div>

    <div class ="row mydetail">
        <div class="col s8 l4">
            <p>Places disponibles</p>
        </div>
        <div class="col s4 l2">
            <p id="availableBikeStandSta"></p>
        </div>
    </div>

    <div class ="row mydetail">
        <div class="col s8 l4">
            <p>Paiement bancaire</p>
        </div>
        <div class="col s4 l2">
            <p id="bankingSta"></p>
        </div>
    </div>

    <div class ="row mydetail">
        <div class="col s8 l4">
            <p>Bonus</p>
        </div>
        <div class="col s4 l2">
            <p id="bonusSta"></p>
        </div>
    </div>




</div>
<div id="iti" class="col s12">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Point de départ</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="autocomplete-input2" class="autocomplete">
                    <label for="autocomplete-input">Point d'arrivée</label>
                </div>
            </div>
            <input type="button" class="btn waves-effect waves-light blue"id="calculIti" value="Calculer l'itinéraire" />
            <div class="row">
                <div class="input-field col s12">
                    <div id="panel"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col s12 pref_window" id="pref">
    <h4 id="nameSta_pref"></h4><br/>
    <div id="pasPref">
        <p>Afin d'ajouter une préférence sur une station, il faut d'abord l'ajouter aux favorites.</p>
    </div>

    <div id="prefContent">
        <h5>Préférences</h5>
        <table id="prefsTab">
        </table>
        <br/>
        <h5>Ajouter</h5>
        <!-- Days-->
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s7">
                        <h6 class="control-label" for="travelDay">Jours</h6>
                    </div>
                </div>

                <div class="row">
                    <div style="display:flex;flex-wrap: wrap;justify-content: space-around">

                        <input class="days_checkbox" type="checkbox" id="l" value="l" unchecked/>
                        <label for="l">Lu</label>

                        <input class="days_checkbox" type="checkbox" id="m" value="m" unchecked/>
                        <label for="m">Ma</label>

                        <input class="days_checkbox" type="checkbox" id="M" value="M" unchecked/>
                        <label for="M">Me</label>

                        <input class="days_checkbox" type="checkbox" id="j" value="j" unchecked/>
                        <label for="j">Je</label>

                        <input class="days_checkbox" type="checkbox" id="v" value="v" unchecked/>
                        <label for="v">Ve</label>

                        <input class="days_checkbox" type="checkbox" id="s" value="s" unchecked/>
                        <label for="s">Sa</label>

                        <input class="days_checkbox" type="checkbox" id="d" value="d" unchecked/>
                        <label for="d">Di</label>
                    </div>
                </div>

                <!--<input name="travelDay" class="form-control days-of-week" id="WorkWeek" type="text" value="" style="display:none"; data-bind="value: WorkWeek">
            --></div>
        </div>
        <!-- time -->
        <div class="row ">
            <div class="input-field col s7">
                <h6 for="timepicker_ampm_dark">Heure</h6>
                <input id="timepicker_ampm_dark" class="timepicker" type="time">
            </div>
        </div>
        <br/>
        <!-- switch -->
        <div class = "customSwitch" id="pref_switch" >
            <label class="custom_switch" class="col s7">
                <div class="col s1"><h6 class="custom_switch_color_take">Prendre</h6></div><div class="col s1"><i id="take_icon" class="material-icons custom_switch_color_take" style="display:none";>directions_bike</i></div>
                <div class="col s3"><input type = "checkbox" checked style="width:75%" id="switch_checkbox_pref"><span class = "lever" style="width:75%"></span></div>
                <div class="col s1"><h6 class="custom_switch_color_leave">Déposer</h6></div><div class="col s1"><i id="leave_icon" class="material-icons custom_switch_color_leave">directions_walk</i></div>
            </label>
        </div>
        <br/>
        <!-- save -->
        <div  class="col s12">
            <a class="btn-floating btn-large waves-effect waves-light blue right" id="pref_btn"><i class="material-icons">save</i></a>
        </div>
    </div>
</div>
