<div class="col s12 l4">
    <!-- Search input -->
    <!-- Table for non-connected users-->
    <div id="notConnectedTable">
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input id="autocomplete-stations" type="text">
            <label for="icon_telephone">Rechercher</label>
        </div>

        <div id="table_div">
            <table id="stationTable" class="highlight bordered">
                <thead class="grey lighten-3">
                    <tr>
                        <th>Stations</th>
                    </tr>
                </thead>
                <tbody id="scrollable_tbody" class = "station_tbody notConnectedTbody">
                    <!-- Dynamical fill of the table -->
                </tbody>
            </table>
        </div>
    </div>
    <div id="connectedTable">
        <div id="swipeable" class="section scrollspy">
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s6"><a class="active" href="#favorites">Favorites</a></li>
                <li class="tab col s6"><a href="#toutes">Toutes</a></li>
            </ul>

            <!-- Stations favorties -->
            <div id="favorites" class="col s12">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="autocomplete-favorites" type="text">
                    <label for="autocomplete-favorites">Rechercher</label>
                </div>
                <div id="table_div">
                    <table id="favoriteTable" class="highlight bordered">
                        <thead class="grey lighten-3">
                            <tr>
                                <th>Stations favorites</th>
                            </tr>
                        </thead>
                        <tbody id="scrollable_tbody" class = "station_tbody favTBody">
                            <tr class="valign-wrapper">
                                <td>Vous n'avez aucune station dans vos favorites.</td>
                            </tr>
                            <!-- Dynamical fill of the table -->
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Toutes les stations -->
            <div id="toutes" class="col s12">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="autocomplete-toutes" type="text">
                    <label for="autocomplete-toutes">Rechercher</label>
                </div>
                <div id="table_div">
                    <table id="allStationsTable" class="highlight bordered">
                        <thead class="grey lighten-3">
                            <tr>
                                <th>Stations</th>
                            </tr>
                        </thead>
                        <tbody id="scrollable_tbody" class = "station_tbody connectedTBody">
                            <!-- Dynamical fill of the table -->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
