<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Projet Villo</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/custom_switch.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="grey lighten-4">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><i class="large material-icons" style="font-size: 40px">directions_bike</i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="subscribe waves-effect waves btn light-blue modal-trigger" href="#signup">S'inscrire</a>
                </li>
                <li>
                    <a id="connectLink" class="connect waves-effect waves btn light-blue modal-trigger" href="#signin">Se connecter</a>
                </li>

                <li>
                    <a class="disconnect waves-effect waves btn light-blue modal-trigger" href="#disco" style="display:none;">Se déconnecter</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a class="subscribe waves-effect waves-teal modal-trigger" href="#signup">S'inscrire</a>
                </li>
                <li>
                    <a class="connect waves-effect waves-teal modal-trigger" href="#signin">Se connecter</a>
                </li>
                <li>
                    <a class="disconnect waves-effect waves-teal modal-trigger" href="#disco" style="display:none;">Se déconnecter</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>



    </nav>
    <!-- Include the modal structure It has to be done outside the navbar, otherwise the modal won't open on mobiles-->
    <%- include partials/signupModal.ejs %>
    <%- include partials/signinModal.ejs %>

    <%- include partials/deleteFavModal.ejs %>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <h1 class="header center orange-text">Projet Villo</h1>
            <h4 class="orange-text" id="auth" style="display:none;"></h4>
            <div class="row card-panel" >
                <%- include partials/mapPanel.ejs %>
                <%- include partials/tablePanel.ejs %>
            </div>

            <div class="row card-panel">
                <div class="col s12">
                    <%- include partials/tableInfos.ejs %>
                </div>
            </div>
            <br><br>

        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">Description</h5>
                    <p class="grey-text text-lighten-4">Cette application permet de consulter les informations sur les différentes stations villos réparties sur Bruxelles.</p>


                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Auteurs</h5>
                    <ul>
                        <li class="white-text">Bergé Benjamin</li>
                        <li class="white-text">Haba Gabriel</li>
                        <li class="white-text">Mzoughi Meriam</li>
                        <li class="white-text">Nuez Soriano Diego</li>
                        <li class="white-text">Skubiszewski‎ ‎Roman</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <!-- Scripts -->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script type="text/javascript" src="js/accents.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/connectedTables.js"></script>
    <script type="text/javascript" src="js/users.js"></script>
    <script type="text/javascript" src="js/pref.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkaOaZvqtkUyBi80xvnS0NJUN_wX50_Fw&callback=map.newMap"></script>
    <script src="js/init.js"></script>



</body>

</html>
