

/* customSwitch
   ========================================================================== */
.customSwitch,
.customSwitch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.customSwitch label {
  cursor: pointer;
}

.customSwitch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.customSwitch label input[type=checkbox]:checked + .lever {
  background-color: #4885ed; /*background du take*/
}



.customSwitch label input[type=checkbox]:checked + .lever:before, .customSwitch label input[type=checkbox]:checked + .lever:after {
  left: 90%;
}

.customSwitch label input[type=checkbox]:checked + .lever:after {
  background-color: #CAF4FF; /*cursor du take*/
}

.customSwitch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: #CAF4FF; /*#07ACD4; //background du leave*/
  border-radius : 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.customSwitch label .lever:before, .customSwitch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.customSwitch label .lever:before {
  background-color: rgba(38, 166, 154, 0.15);
}

.customSwitch label .lever:after {
  background-color: #4885ed;/*#89BECB; //cursor du leave*/
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08);
}

.customSwitch input[type=checkbox][disabled] + .lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
}

.customSwitch label input[type=checkbox][disabled] + .lever:after,
.customSwitch label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #949494;
}






input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  color: #ccc;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  color: #333;
}

.days div {
  
    /*<!-- display: inline;-->*/
  
}
