/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#mapPanel {
    height: 485px;
}

#googleMap {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

#loader {
    width:100%;
}

#table_div {
    overflow-x: auto;
}


.station_tbody{
    overflow-y: auto;
    position:relative;
    display: block;
 }


#stationTable tbody {
    height: 350px;
    width:100%;
}

#favoriteTable tbody {
    height: 290px;
    width:100%;
}

#allStationsTable tbody {
    height: 290px;
    width:100%;
}

/*.station_tbody tr, .station_tbody td{
    display:block;
}*/

#connectedTable{
    display: none;
}

#signin, #signup {
    background-image: url("/css/images/villo.jpg");
}

.modal-card {
    background-color: rgba(255,255,255, 0.95);
}

.modal-footer {
    background-color: rgba(255,255,255, 0)
}

.mydetail{
    margin:0;
    vertical-align: center;
}
